<div class="row">
<div class="col-md-6 col-md-offset-1">

<div class="panel panel-default">
    
    <div class="panel-heading">  </div>
    <div class="panel-body">
        <p> <img src="http://openweathermap.org/img/w/{{weather.icon }}.png" alt="Image">  {{weather.city}}  weather  <strong>{{ weather.description}}</strong>  </p>
         
         <p>    <strong> </strong>  Temperature <strong>{{ weather.tempareture}}F /{{ weather.cel }}C </strong> </p>
         </div>
    <div class="panel-footer"> </div>
  </div>

</div>
</div>